body {
    padding: 20%;
    text-align: center;
    vertical-align: middle;
    background-color: steelblue;
    color: whitesmoke;
    font-size: 30pt;
    font-style: italic;
    font-family: sans-serif;
}